<!DOCTYPE html>
<html lang="en" ng-app="portfolioApp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Shamila Mosharraf</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.0.0/bootstrap-social.min.css">
	<link rel="stylesheet" href="/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
</head>
<body>
	<div class="fixed-content-wrapper">
		<section id="header-container" ng-controller="navCtrl as vm">
			<nav role="navigation">
				<ul>
					<!--  -->
<!-- 					<li ui-sref-active= "active" ng-class={'inactive' : vm.currentUrl('/') === false}><a ui-sref="home">HOME</a></li> -->
					<!-- <li ng-class="{active: isActive('/')}"><a ui-sref="home" href="#/home">HOME</a></li> -->
					<li class="one"><a ui-sref="home" href="#/home">HOME</a></li>
					<li class="two"><a ui-sref="about" href="#/about">ABOUT</a></li>
					<li class="three"><a ui-sref="portfolio">PORTFOLIO</a></li>
					<li class="four"><a ui-sref="skills">SKILLS</a></li>
					<li class="five"><a ui-sref="contact">CONTACT</a></li>
				</ul>
			</nav>
			<header ng-class="{'home-header' : vm.currentUrl('/'), 'about-header' : vm.currentUrl('/about'),'portfolio-header' : vm.currentUrl('/portfolio'), 'skills-header' : vm.currentUrl('/skills'), 'contact-header' : vm.currentUrl('/contact') }">

				<div class="header-content" ng-if="vm.currentUrl('/')">
					<h1 class="title-heading">Hi I am Shamila</h1>
					<h3 class="intro-heading">Full Stack Developer</h3>
				</div>
				<div class="header-content" ng-if="vm.currentUrl('/about')">
					<h3 class="title-heading">About Me</h3>
					<h1 class="intro-heading">Here is a glimpse into my coder-life ;)</h1>
				</div>
				<div class="header-content" ng-if="vm.currentUrl('/portfolio')">
					<h3 class="title-heading">PORTFOLIO</h3>
					<h1 class="intro-heading">My Projects</h1>
				</div>
				<div class="header-content" ng-if="vm.currentUrl('/skills')">
					<h3 class="title-heading">Skills</h3>
					<h1 class="intro-heading">Few of my skills</h1>
				</div>
				<div class="header-content" ng-if="vm.currentUrl('/contact')">
					<h3 class="title-heading">Contact</h3>
					<h1 class="intro-heading">Contact me</h1>
				</div>
			</header>
		</section>
		<main ui-view role="main">
		</main>



	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.0/angular-ui-router.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-animate.min.js"></script>
	<script src="all.js"></script>
</body>
</html>