



@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Oregano');

/*Mixin*/

$primary-color: white; 
$primary-font: 'Roboto', sans-serif;

@mixin transitions($time, $type) {
	-webkit-transition: all $time $type;
	-moz-transition: all $time $type;
	-ms-transition:all $time $type;
	-o-transition:all $time $type;
	transition: all $time $type;
}


html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
/*	font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	font-family: $primary-font;
	font-size: 1em;
	}

	body {
	background: $primary-color;
	overflow: auto;
	}

/*	#header-container {
	width: 100%;
	height: 100%;
	}*/

a {
	text-decoration: none;
}

/*When the screen is not in mobile view, header is not limited.*/
/*header {
	width: 100%;*/
/*	min-height: 100vh;
	max-height: 100vh;*/
/*	min-height: 15vh;
	max-height: 15vh;
	position: relative;
	text-align: center;

	}*/

nav {
	width: 100%;
	height: 21%;
	/*height: 200px;
	box-shadow: 3px 2px 4px -3.5px black;
/*	border-bottom: 1px solid black;*/
	position: fixed;
	/*padding: 0 em(25);*/
	z-index: 9999;
	text-transform: uppercase;
	text-align: center;

}
/*.navbar {
    background-color: #eee ! important;
}*/
	ul {
		list-style-type: none;
/*		width: 90%;*/
		margin: 0;
		padding: 0;
/*		float: right;*/
		text-align: center;
		}
		
	
	li {
		display: inline-block;
		margin: 170px 0px 0px 0px;
		padding: 25px 7px 20px 7px; 
/*		float: center;*/
	    font-family: $primary-font;
/*		font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;*/
		font-size: 1.7em;
		font-weight: 700;

	}
		a {
		/*font-size: 80em;*/
		
		color: black;
		
		padding: 23px 45px;

		&:hover, &:focus  {
		text-decoration: none;
		color: black;
		box-shadow: 0 0 0 5px black inset;
		background-color: $primary-color;
		/*border: solid black 5px;*/

		transition: .5s ease-in-out;
		}

}



.container-fluid.home {
	height: 100vh;
	padding: 5%;
	color: black;
	background: 
	url('/content/img/cover1.png') center center no-repeat;
/*		background-size: cover;*/
	background-size: 100% 100%;
	text-align: center;
}
		.title-heading {
			font-family: 'Oregano', cursive;
			/*font-size: em(300);*/
			font-size: 800%;
			width: 80%;
			margin: 20% auto 5% auto;
			font-weight: 300;
			opacity: 0.8;
		}

		.intro-heading {
/*			text-transform: uppercase;*/
			/*font-size: em(30);*/
			font-size: 300%;
			width: 70%;
			margin: 0 auto;
			opacity: 0.8;
			font-weight: 400;
		}
/*		h3 {
			font-size: 5em;
			
		}*/

.container-fluid.about {
	height: 100vh;
	padding: 10%;
	padding-top: 20%;
	color: white;
	background-size: 100% 100%;
	text-align: center;

}
 #about-box {
 		background: 
 			url('/content/img/purple.png') center center no-repeat;
 			background-size: 100% 100%;

 }

	.picture {
		height: 600px;

		
	}
	.about-intro {
		font-family: 'Ubuntu', sans-serif;
		font-weight: 600;
		font-size: 70px;
		color: black;
		/*margin-bottom: 30px;*/

	}
	.about-para{
		font-family: 'Lato', sans-serif;
		font-size: 40px;
		color: black;
	/*	margin-top: 30px;*/
	}


.container-fluid.portfolio {
	height: 100vh;
	padding: 8%;
	color: white;
	background-size: 100% 100%;

}
        .portfolio-colors {
        	background: 
        		url('/content/img/portfolio_colors.png') center center no-repeat;
        	background-size: 100% 100%;	
        }
		.portfolio-heading {
			font-size: em(50);
/*			width: 70%;*/
			margin: 100px auto 0px auto;
			height: 10vh;
			opacity: 0.8;
			font-weight: 700;
		}
		.project-box {
			text-align: center;
			border: solid 1px black;
			margin: 6%;
		}
		.project {
			background: 
				url('/content/img/skills.png') center center no-repeat;
			background-size: 100% 100%;
			height: 20vh;
			border-bottom: solid 1px black;
		}
		.project-name h1{
			background-color: black;
			color: white;
		}

.container-fluid.skills {
	height: 100vh;
	padding: 5%;
	color: white;
	background: 
		url('/content/img/skills.png') center center no-repeat;
	background-size: 100% 100%;
}
	.skills-heading {
			font-size: em(50);
			width: 70%;
			margin: 120px auto 70px auto;
			opacity: 0.8;
		}
	h1 {
		color: black;
		text-align: center;
/*		margin: 1% auto; */
	};

	.skills-box {
		padding: 2%;
/*		border: 8px solid #fc1a2b;*/
/*		background-color: #005b96;*/
		margin: .5%;
		margin-top: 5%;
		text-align: center;
	}

	.icon {
		height: 140px;
/*		border-bottom: 2px solid #555555;
		text-align: center;*/
		background-color: #555555;
		opacity: .8;
	}
	img {
		height: 140px;
	}
	.language h1{
		margin: 0%;
		background-color: black;
		color: white;

	}


.container-fluid.contact {
	height: 100vh;
	padding: 5%;
	padding-top: 330px;
	color: white;
		background: 
		url('/content/img/contact.png') center center no-repeat;
	background-size: 100% 100%;
	text-align: center;


	.contact-box {
		margin: 2%;
		
		
	}

	.contact-me {
		border: 2px solid pink;
	}
	.info-box {
		margin: 2%;
		padding: 1.5%;
		border: 4px solid #03396c;
		background-color: #005b96;
	}

	/*Form design*/

.form-style-8{
    font-family: 'Open Sans Condensed', arial, sans;
    width: auto;
    padding: 30px;
    background: #FFFFFF;
    margin: auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}
/*.form-style-8 h2{
    background: #4D4D4D;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #797979;
    font-size: 18px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px;
}*/
.form-style-8 input[type="text"],
.form-style-8 input[type="date"],
.form-style-8 input[type="datetime"],
.form-style-8 input[type="email"],
.form-style-8 input[type="number"],
.form-style-8 input[type="search"],
.form-style-8 input[type="time"],
.form-style-8 input[type="url"],
.form-style-8 input[type="password"],
.form-style-8 textarea,
.form-style-8 select 
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 95px;
/*    height: auto;*/
}
.form-style-8 textarea{
    resize:none;
    overflow: hidden;
}
.form-style-8 input[type="button"], 
.form-style-8 input[type="submit"]{
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;
    background-color: #2CBBBB;
    border: 1px solid #27A0A0;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;
    padding: 18px;
    text-decoration: none;
    text-transform: uppercase;
}
.form-style-8 input[type="button"]:hover, 
.form-style-8 input[type="submit"]:hover {
    background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color:#34CACA;
}

}


/*
} */